body{
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgb(201, 201, 201), rgb(231, 231, 231));
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
}

main form{
    background: linear-gradient(90deg, rgb(120, 96, 255), rgb(1, 28, 70));
    display: flex;
    flex-direction: column;
    padding: 5%;
}

main form label{
    margin: 10px 0px 10px 0px;
}
